{{ define "main" }}
<section id="product-mr-section">
  <img class="img-background d-md-block d-sm-none" src="/images/product_mr_bg_new.jpg">
  <img class="img-background d-md-none d-sm-block" src="/images/product_mr_bg_sm_new.jpg">
  <h1>{{ site.Params.product.mr.title }}</h1>
</section>
{{ end }}
