{{ define "main" }}
<section id="cases-header-section">
  <img class="img-background" src="/images/cases_header_bg.jpg">
  <h1 class="text-center text-color-white"> {{ site.Params.cases.title }} </h1>
</section>
<section class="container">
  <div class="row">
    {{ range .Pages }}
    <div class="col-lg-6 col-md-12">
      {{ partial "caseBox.html" . }}
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
