{{ define "main" }}
<section id="case-header-section">
  <div class="case-header">
    <img class="img-background" src="/images/case_bg_header_{{ .Params.keyname }}.jpg">
    <div class="container">
      <img class="header-logo" src="/images/case_logo_{{ .Params.keyname }}.png">
    </div>
  </div>
  <div class="container">
  </div>
</section>
<section class="bg-white" id="case-content-section">
  <div class="container">
    <h1 class="text-color-heading"> {{ .Title }} </h1>
    <div class="row top-row vdivide">
      <div class="col-sm-4 d-sm-block d-none">
        <div class="desc-col">
          <p><img src="/images/case_location.png"> {{ .Params.location }}</p>
          <p><img src="/images/case_industry.png"> {{ .Params.industry }}</p>
          {{ if .Params.website }}
          <p><img src="/images/case_website.png"> <a href="{{.Params.websiteLink}}">{{ .Params.website }}</a></p>
          {{ end }}
        </div>
      </div>
      <div class="col-sm-4 d-sm-block d-none">
        <p>{{ site.Params.cases.product }}</p>
        <h3>{{ .Params.product }}</h3>
        <br>
      </div>
      <div class="col-sm-4">
        <div class="tags-row">
          {{ range .Params.tags }}
          <div class="tag-column">
            <small class="radius-tag">{{ . }}</small>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row content-row">
      <div class="col-sm-7">
        <h4>{{ site.Params.cases.customer }}</h4>
        <p>{{ .Params.customer }}</p>
        <h4>{{ site.Params.cases.project }}</h4>
        <p>{{ .Params.project }}</p>
        <h4>{{ site.Params.cases.solution }}</h4>
        {{ range .Params.solution }}
        <p>{{ . }}</p>
        {{ end }}
        <img src="/images/case_solution_{{ .Params.keyname }}.jpg">
        <small>{{ .Params.imgDesc }}</small>
        <h4>{{ site.Params.cases.result }}</h4>
        {{ range .Params.result }}
        <p>{{ . }}</p>
        {{ end }}
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-3 link-block">
        <h4>{{ site.Params.cases.link }}</h4>
        <img src="/images/case_link_{{ .Params.linkKeyname}}.jpg">
        <a href="/cases/{{ .Params.linkKeyname }}">{{ .Params.linkTitle }}</a>
      </div>
    </div>
  </div>
</section>
<section id="case-product-section" class="container">
  <h2 class="text-center text-color-heading">{{ site.Params.cases.more }}</h2>
  <div class="product-block">
    <img class="img-background" src="{{ .Params.productBackground }}">
    <div class="img-background background-mask"></div>
    <div class="inner-content">
      <h2>{{ .Params.productTitle }} </h2>
      <p>{{ .Params.productContent }}</p>
      <a href="{{ .Params.productUrl }}">
        <button class="btn btn-success vs-btn-primary">{{ site.Params.home.application.btn }}</button>
      </a>
    </div>
  </div>
</section>
{{ end }}
