<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{ partial "head.html" . }}
    <body id="body">
        {{ partialCached "header.html" . }}
        <div class="main">
          {{ block "main" . }}{{ end }}
        </div>
        {{ partialCached "footer.html" . }}
    </body>
</html>
