{{ define "main" }}
{{ with site.Params.about }}
<div id="vs-about">
  <section id="about-header-section" class="bg-dark-center-radient">
    <div class="bg-about-header">
      <div class="container">
        <h1 class="text-color-white text-center">{{ .title }}</h1>
        {{ range .header.items }}
        <p>{{ . }}</p>
        {{ end }}
      </div>
    </div>
  </section>

  {{ with .milestones }}
  <section class="milestone-section container" id="milestone">
    <h2 class="text-center text-color-heading">{{ .title }}</h2>
    {{ range .years}}
    <div class="milestone-box">
      <h3 class="year">{{ .year }}</h3>
      {{ range .items }}
      <div class="item-title">
        <div class="d-none d-md-inline-block">
          {{ if .isFirst }}
          <img src="/images/milestone_first.png">
          {{ else }}
          <div class="img-holder"></div>
          {{ end }}
        </div>
        <h2>{{ .month }}</h2>
        <h5>{{ site.Params.about.milestones.monthText }}</h5>
        <h4>{{ .title | safeHTML }}</h4>
      </div>
      <h5 class="item-content">{{ .content }}</h5>
      {{ end }}
    </div>
    {{ end }}
  </section>
  {{ end }}

  <section class="bg-white">
    <div class="container">
      <h2 class="text-center text-color-heading" style="margin-bottom: 80px;">{{ site.Params.about.investor.title }}
      </h2>
      <div class="row">
        {{ range site.Params.about.investor.items }}
        <div class="col-md-3 col-6">
          <img src="{{ .src }}" style="max-height: 80px; margin-bottom: 16px;">
        </div>
        {{ end }}
      </div>
    </div>
  </section>

  {{ with .contact }}
  <section class="contact-section">
    <div class="container">
      <h2 class="text-center text-color-heading">{{ .title }}</h2>
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <div class="contact-form-box">
            {{ partial "contactForm.html" . }}
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          {{ with .box }}
          <div class="contact-box">
            <h3>联系方式</h3>
            <p>{{ .operation.email }} {{ .operation.emailInfo }} </p>
            <p>{{ .operation.phone }} {{ .operation.phoneInfo }} </p>
            <br>
            <h3>{{ .operation.name }}</h3>
            <p>{{ .operation.addrInfo }} </p>
            <br>
            <h3> {{ .dev.name }} </h3>
            <p>杭州市余杭区文一西路中国（杭州）5G创新园</p>
            <br>
            <h3>全球研发中心</h3>
            <p>美国加州硅谷</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  {{ end }}
</div>
{{ end }}
{{ end }}
