// font family
$vb-font-family: "pingfang-sc", sans-serif;

// fonts
$vb-h1-font: 700 40px/56px $vb-font-family;
$vb-h2-font: 700 32px/46px $vb-font-family;
$vb-h3-font: 700 24px/36px $vb-font-family;
$vb-h4-font: 700 20px/30px $vb-font-family;
$vb-h5-font: 700 16px/26px $vb-font-family;
$vb-h6-font: 700 14px/26px $vb-font-family;
$vb-p-font: 400 14px/22px $vb-font-family;
$vb-small-font: 400 12px/18px $vb-font-family;

// colors
$vb-color-text: #59596d;
$vb-color-secondary: #8c8c9a;
$vb-color-heading: #1d1c22;
$vb-color-disabled: #bdbdc5;
// primary colors
$vb-color-green: #88b04b;

// white colors
$vb-color-white: rgba(255, 255, 255, 1);
$vb-color-white70: rgba(255, 255, 255, 0.7);
$vb-color-white50: rgba(255, 255, 255, 0.5);
$vb-color-white30: rgba(255, 255, 255, 0.3);
$vb-color-white10: rgba(255, 255, 255, 0.1);
