@import "default";

body {
  background-color: #f0f0f0;
  color: $vb-color-text;
  h1 {
    font: $vb-h1-font;
  }
  h2 {
    font: $vb-h2-font;
  }
  h3 {
    font: $vb-h3-font;
  }
  h4 {
    font: $vb-h4-font;
  }
  h5 {
    font: $vb-h5-font;
  }
  h6 {
    font: $vb-h6-font;
  }
  a,
  p,
  li {
    font: $vb-p-font;
  }
  small {
    font: $vb-small-font;
  }
  @media (max-width: 767.98px) {
    h1 {
      font: $vb-h2-font;
    }
    h2 {
      font: $vb-h3-font;
    }
    h3 {
      font: $vb-h4-font;
    }
    h4 {
      font: $vb-h5-font;
    }
    h5 {
      font: $vb-h6-font;
    }
  }
  img {
    max-width: 100%;
  }
  .main {
    min-height: 95vh;
    min-height: calc(100vh - 500px);
    padding-top: 60px;
  }
}

.bg-dark {
  background-color: $vb-color-heading !important;
}

.bg-grey {
  background-color: #f0f0f0 !important;
}

.bg-white {
  background-color: $vb-color-white !important;
}

.bg-dark-center-radient {
  background: radial-gradient(
    50% 117.47% at 50% 46.27%,
    #2e3a43 0%,
    #0b0d19 100%
  );
}

.text-color-white {
  color: $vb-color-white !important;
}

.text-color-heading {
  color: $vb-color-heading !important;
}

.row.vdivide [class*="col-"]:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 80%;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.radius-tag {
  color: $vb-color-white;
  border: 2px solid $vb-color-white;
  border-radius: 111px;
  padding: 4px 8px;
  margin-left: 8px;
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 700;
}

.nav-pills {
  .col-sm-3,
  .col-sm-4,
  .col-6 {
    padding: 0 1px;
  }
  @media (min-width: 576px) {
    .col-sm-2 {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  .nav-item {
    margin: 0;
    text-align: center;
  }
  .nav-link {
    background-color: $vb-color-white10;
    color: $vb-color-white;
    border-radius: 0;
    height: 56px;
    line-height: 56px;
    padding: 0;
    font-weight: 400;
  }
  .nav-link:hover {
    background-color: $vb-color-white30;
  }
  .nav-link.active {
    background-color: $vb-color-green;
    font-weight: 700;
  }
}

.vs-btn-primary {
  background-color: $vb-color-green;
  border-radius: 4px;
  height: 40px;
  border: none;
  min-width: 120px;
}

.vs-btn-primary:hover {
  background-color: #9abc66;
}

.vs-btn-primary:focus,
.vs-btn-primary:active {
  background-color: #749640;
}

.vs-btn-primary:disabled {
  background-color: #bdbdc5;
}

.btn-transparent {
  border: $vb-color-white solid 1px;
  border-radius: 4px;
  width: 120px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin-right: 16px;
}

.img-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.disabled-dropdown-item {
  color: $vb-color-disabled;
  font-size: 14px;
  padding: 0.25rem 1.5rem;
  cursor: default;
}

section {
  padding: 80px 0;
}

/**
  * Navigation styles
  */
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 60px;
  img {
    height: 32px;
    width: auto;
  }
}
.navbar {
  padding: 0.625rem 1rem;
}
.nav-item {
  font-size: 14px;
  margin: 0 5px;
}
.navbar-brand {
  margin-top: -5px;
}
.navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
  flex-direction: flex-end;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 4L20.2635 20.2635" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path d="M20.2637 4L4.00022 20.2635" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
.navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  background-image: url('data:image/svg+xml,<svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 4H24" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 12H24" stroke="white" stroke-linecap="round" stroke-linejoin="round"/><path d="M1 20H24" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
@media (max-width: 767.98px) {
  .navbar-nav .nav-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .mobile-hidden {
    display: none;
  }
}

.vs-product {
  .product-header {
    padding-top: 0;
    color: $vb-color-white;
    text-align: center;
    h1 {
      margin-bottom: 24px;
    }
    h2 {
      margin: 64px auto 48px;
    }
    .radius-tag {
      color: $vb-color-text;
      background-color: white;
      border: 0;
    }
    .header-subtitle {
      max-width: 700px;
      margin: 64px auto 32px;
      color: $vb-color-white70;
    }
    .header-with-background {
      padding-top: 80px;
      height: 300px;
      position: relative;
      .inner-content {
        z-index: 1;
        position: relative;
      }
    }
    .tab-content {
      img {
        max-height: 110px;
        margin: 48px auto 32px;
      }
      p {
        max-width: 200px;
        text-align: center;
        margin: auto;
        color: $vb-color-white70;
      }
    }
  }

  .product-feature {
    img {
      margin-top: 64px;
    }
    .text-block {
      max-width: 400px;
      margin: 160px auto 0;
      h2 {
        margin-bottom: 24px;
      }
      p {
        color: $vb-color-white50;
      }
    }
    @media (max-width: 991.98px) {
      img {
        margin-top: 24px;
      }
      .text-block {
        margin-top: 64px;
      }
    }
  }
}

.case-box {
  background-color: $vb-color-white;
  max-width: 540px;
  margin: 24px auto 0;
  .box-header {
    height: 320px;
    position: relative;
    @media (max-width: 767.98px) {
      height: auto;
    }
    .content-block {
      text-align: center;
      position: relative;
      z-index: 1;
      color: $vb-color-white;
      padding: 32px;
      h3 {
        margin: 24px auto 8px;
      }
      img {
        width: 120px;
      }
    }
  }
  .box-detail {
    padding: 32px 40px 64px;
    position: relative;
    height: 240px;
    @media (max-width: 575.98px) {
      height: auto;
    }
    a {
      position: absolute;
      bottom: 32px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}

.modal-dialog {
  .modal-content {
    padding: 64px;
  }
  #modal-close-btn {
    text-align: center;
    position: absolute;
    display: inline-block;
    width: 32px;
    right: 32px;
    top: 32px;
    color: $vb-color-text;
    font-size: 24px;
    z-index: 2000;
    cursor: pointer;
  }
}

.contact-form {
  label {
    font: $vb-p-font;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
  }
  input,
  textarea,
  .vb-input {
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
    border: none;
    margin-bottom: 24px;
    width: 100%;
  }
  input {
    height: 40px;
  }
  button {
    width: 120px;
  }
  .contact-sent-succ,
  .contact-sent-fail {
    display: none;
  }
  .contact-submit-btn {
    display: block;
    margin: auto;
  }
}

#browser-support-section {
  h2 {
    margin-bottom: 64px;
  }
  img {
    display: block;
    max-width: 80px;
    margin: 0 auto 8px;
  }
  h5 {
    display: block;
    text-align: center;
    font-weight: normal;
  }
  .row {
    max-width: 700px;
    margin: auto;
  }
}

#device-support-section {
  h2 {
    margin-bottom: 64px;
  }
  img {
    display: block;
    max-width: 150px;
    margin: 0 auto 40px;
  }
}

#contact-sales-section {
  height: 400px;
  position: relative;
  h2 {
    width: 100%;
    text-align: center;
  }
  .inner-content {
    padding-top: 48px;
    position: absolute;
    width: 100%;
    button {
      display: block;
      margin: auto;
      margin-bottom: 40px;
    }
  }
}

footer {
  text-align: left;
  padding: 64px 0 80px;
  h5 {
    color: $vb-color-white;
    margin-bottom: 24px;
  }
  a,
  p {
    color: $vb-color-white50;
  }
  li,
  p {
    margin-bottom: 16px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  .qr-code {
    margin-bottom: 24px;
    .code-div {
      display: inline-block;
    }
    .qrcode-img {
      width: 104px;
      margin-right: 16px;
    }
    p {
      margin: 8px 0;
    }
    small {
      font-size: 10px;
    }
  }
  .mobile-qr-code {
    width: 256px;
  }
  .copyright-text,
  .copyright-text a {
    color: $vb-color-white30;
    text-align: center;
    margin: 80px auto 0;
  }
  .dropdown-item {
    color: $vb-color-white50;
  }
  .dropdown-item:hover {
    background-color: $vb-color-heading !important;
    color: $vb-color-white;
  }
  @media (max-width: 767.98px) {
    padding: 24px 0;
  }
  .mobile-contact-block {
    p {
      text-align: center;
    }
    .qr-code {
      margin: 56px auto 24px;
    }
  }
}

#vs-home {
  #home_banner_section {
    padding: 0;
    #particles {
      height: 600px;
      background-color: #202029;
      position: relative;
      .inner-content {
        position: absolute;
        width: 100%;
        top: 240px;
        text-align: center;
        color: #f5f5f5;
        h1 {
          font-size: 64px;
          letter-spacing: 8px;
          @media (max-width: 767.98px) {
            font: $vb-h2-font;
          }
        }
        h3 {
          font-weight: 300;
          letter-spacing: 2px;
        }
      }
    }
  }

  #home-application {
    h2.application-title {
      text-align: center;
      color: $vb-color-heading;
      margin-bottom: 80px;
    }
    .application-box {
      display: inline-block;
      height: 400px;
      background-color: $vb-color-secondary;
      text-align: center;
      vertical-align: top;
      position: relative;
      width: 100%;
      .inner-content {
        padding: 216px 48px 0;
        display: block;
        color: $vb-color-white;
        position: relative;
        z-index: 1;
        height: 100%;
      }
      a:hover {
        text-decoration: none;
      }
    }
    .auto-expend-block {
      transition: all 0.8s;
      width: 19%;
      h4 {
        color: $vb-color-white;
        text-align: center;
        z-index: 1;
        position: relative;
        margin-top: -80px;
      }
      p,
      h2 {
        width: 0;
        transition: all 1s;
        overflow: hidden;
      }
      p {
        height: 44px;
      }
      h2 {
        height: 42px;
      }
      .inner-content {
        opacity: 0;
      }
      .background-mask {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
      }
    }
    .active-block {
      width: 40%;
      text-align: left;
      h4 {
        display: none;
      }
      p,
      h2 {
        width: 100%;
      }
      .inner-content {
        transition: all 1s;
        opacity: 1;
      }
      .background-mask {
        opacity: 0;
      }
    }
    .wide-block {
      overflow-x: auto;
      white-space: nowrap;
      .application-box {
        width: 80%;
        .inner-content {
          white-space: normal;
          padding-top: 200px;
        }
      }
    }
  }

  #home-tech-section {
    text-align: center;
    h2 {
      margin-bottom: 80px;
    }
    img {
      width: 160px;
      display: block;
      margin: 40px auto 0;
    }
    p {
      color: $vb-color-white70;
    }
    @media (min-width: 768px) {
      .col-md-2 {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
  }
}

#vs-about {
  #about-header-section {
    h1 {
      margin-bottom: 48px;
    }
    p {
      color: $vb-color-white70;
      max-width: 640px;
      margin: 0 auto 24px;
    }
    .bg-about-header {
      background-image: url("/images/bg_grid.png");
      background-size: auto auto;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .milestone-section {
    .milestone-box {
      background-color: $vb-color-white;
      position: relative;
      min-height: 160px;
      margin-top: 64px;
      padding: 80px 40px 40px;
      h4,
      h2 {
        color: $vb-color-heading;
      }
      h5 {
        font-weight: 400;
      }
      .item-title {
        h2,
        h5,
        h4 {
          display: inline-block;
        }
        img,
        .img-holder {
          margin-right: 40px;
        }
        h5 {
          margin-right: 56px;
        }
        .img-holder {
          height: 48px;
          width: 48px;
          display: inline-block;
        }
      }
      .item-content {
        margin-left: 112px;
        padding-left: 96px;
      }
      .item-content:not(:last-child) {
        padding-bottom: 80px;
        border-left: 1px $vb-color-secondary solid;
      }
      .year {
        background-color: $vb-color-green;
        text-align: center;
        line-height: 48px;
        color: $vb-color-white;
        width: 160px;
        height: 48px;
        position: absolute;
        top: -24px;
        left: 24px;
      }
      @media (max-width: 767.98px) {
        .item-content {
          margin-left: 16px;
          padding-left: 88px;
        }
        .item-content:not(:last-child) {
          padding-bottom: 40px;
          border-left: 1px $vb-color-secondary solid;
        }
      }
    }
  }

  .contact-section {
    h2 {
      margin-bottom: 64px;
    }
    .contact-form-box {
      background-color: $vb-color-white;
      padding: 56px 48px;
    }
    .contact-box {
      width: 100%;
      background-color: $vb-color-white;
      padding: 56px 48px;
      p {
        margin-top: 16px;
      }
      h3 {
        color: $vb-color-heading;
      }
    }
  }
}

#product-mr-section {
  height: 828px;
  position: relative;
  h1 {
    text-align: center;
    position: absolute;
    padding-top: 100;
    width: 100%;
    color: $vb-color-white;
    background: -webkit-linear-gradient(#ffffff, #618afd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media (max-width: 767.98px) {
    height: 800px;
  }
}

#cases-header-section {
  position: relative;
  height: 300px;
  h1 {
    position: absolute;
    top: 120px;
    width: 100%;
    z-index: 1;
  }
}

#case-header-section {
  padding: 0;
  .case-header {
    position: relative;
    height: 170px;
    h2 {
      display: inline-block;
      margin-top: 114px;
      margin-left: 212px;
      position: relative;
    }
    .header-logo {
      width: 120px;
      position: absolute;
      background-color: $vb-color-white;
      top: 112px;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
      border-radius: 60px;
    }
  }
}

#case-content-section {
  h1 {
    margin-bottom: 48px;
  }
  .top-row {
    text-align: center;
    a {
      color: $vb-color-text;
    }
    img {
      width: 24px;
    }
    .desc-col {
      display: inline-block;
      margin: auto;
      text-align: left;
    }
    .tags-row {
      margin: 0 auto;
      max-width: 216px;
      .tag-column {
        display: inline-block;
        width: 49%;
      }
      .radius-tag {
        display: inline-block;
        display: block;
        border-color: $vb-color-text;
        color: $vb-color-text;
        height: 30px;
        width: 104px;
        text-align: center;
        margin-top: 8px;
      }
    }
  }
  .content-row {
    h4 {
      color: $vb-color-heading;
      margin-top: 48px;
    }
    p {
      margin-top: 24px;
    }
    img,
    small {
      margin: auto;
      display: block;
      text-align: center;
    }
    .link-block {
      img {
        margin: 20px 0 16px;
      }
      a {
        color: $vb-color-text;
      }
    }
  }
}

#case-product-section {
  .product-block {
    margin-top: 60px;
    position: relative;
    height: 480px;
    color: white;
    .background-mask {
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    .inner-content {
      z-index: 1;
      position: relative;
      text-align: center;
      h2 {
        padding-top: 160px;
      }
      p {
        margin: 24px 0 48px;
        font-size: 16px;
      }
    }
  }
}

#vs-tech {
  #tech-header-section {
    height: 300px;
    position: relative;
    h1 {
      color: white;
      text-align: center;
    }
  }
  #tech-body-section {
    color: $vb-color-white;
    .desc-content {
      max-width: 720px;
      margin: 0 auto 80px;
    }
    .tab-pane {
      background-image: url("/images/bg_grid.png");
      background-size: auto auto;
      background-repeat: no-repeat;
      background-position: center;
      h2 {
        text-align: center;
        margin-top: 60px;
      }
      h4 {
        text-align: center;
        margin-top: 16px;
      }
      p,
      ul {
        color: $vb-color-white70;
        max-width: 720px;
        margin: 30px auto 0;
      }
      img {
        margin: 48px auto 0;
        display: block;
        width: 90%;
      }
      video {
        margin: 48px auto 0;
        width: 90%;
        max-width: 720px;
        display: block;
      }
      .img-desc {
        margin-top: 8px;
      }
      .row {
        margin-top: 40px;
        .tech-feature-box {
          height: 240px;
          background-color: #3e67da;
          text-align: center;
          padding: 72px 48px 48px;
          max-width: 280px;
          margin: 24px auto 0;
          color: $vb-color-white;
          h3 {
            font-size: 48px;
          }
        }
      }
    }
    .tech-line {
      display: block;
      margin: 100px auto 0;
    }
  }
}
