<section id="browser-support-section" class="bg-white">
  <h2 class="text-center text-color-heading">{{ site.Params.browserSupport.title }}</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      {{ range site.Params.browserSupport.items }}
      <div class="col-md-2 col-4">
        <img src="{{ .src }}">
        <h5>{{ .name }}</h5>
      </div>
      {{ end }}
    </div>
  </div>
</section>
