<div class="case-box">
  <div class="box-header">
    <img class="img-background" src="/images/case_bg_{{ .Params.keyname }}.jpg">
    <div class="content-block">
      <img src="/images/case_logo_{{ .Params.keyname }}.png">
      <h3>{{ .Title }}</h3>
      {{ range .Params.tags }}
        <span class="radius-tag"> {{ . }} </span>
      {{ end }}
    </div>
  </div>
  <div class="box-detail">
    <p> {{ .Params.desc }} </p>
    <a href="{{ .Permalink }}" class="btn btn-success vs-btn-primary">{{ site.Params.general.detailBtn.name }}</a>
  </div>
</div>
