<section id="contact-sales-section">
  <img class="img-background" src="/images/contact_bg.jpg">
  <div class="inner-content">
    <button class="btn btn-success vs-btn-primary mobile-hidden" type="button" data-toggle="modal"
      data-target="#contact-modal">联系商务</button>
    <h2 class="text-color-white text-center">{{ site.Params.contactSales.content }}</h2>
  </div>
</section>
