<form class="contact-form" data-endpoint="{{ site.Params.endpoint }}">
  {{ with site.Params.contactForm }}
  <div>
    <label for="name"> {{ .name }} </label>
    <input type="text" id="name" name="first_name" required>
  </div>
  <div>
    <label for="email"> {{ .email }} </label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="company"> {{ .company }} </label>
    <input type="text" id="company" name="company" required>
  </div>
  <div>
    <label for="phone"> {{ .phone }} </label>
    <input type="text" id="phone" name="phone" required>
  </div>
  <div>
    <label for="service_type"> {{ .service }} </label>
    <select class="vb-input" id="service_type" name="service_type">
      <option value="pro">VR展播</option>
      <option value="live">VR直播</option>
      <option value="platform">VR视频平台搭建</option>
    </select>
  </div>
  <div>
    <label for="message"> {{ .message }} </label>
    <textarea type="text" id="message" name="message" required></textarea>
  </div>
  <button type="submit" class="btn btn-success contact-submit-btn vs-btn-primary"> {{ .send }} </button>
  <br>
  <p class="contact-sent-succ"> {{ .sentSucc }} </p>
  <p class="contact-sent-fail"> {{ .sentFail }} </p>
  {{ end }}
</form>
