<section id="device-support-section" class="bg-gray">
  <h2 class="text-center text-color-heading">{{ site.Params.deviceSupport.title }}</h2>
  <div class="container">
    <div class="row">
      {{ range site.Params.deviceSupport.items }}
      <div class="col-lg-2 col-md-4 col-6">
        <img src="{{ .src }}">
      </div>
      {{ end }}
    </div>
  </div>
</section>
