<footer class="bg-dark">
  <div class="container">
    <div class="row d-none d-md-flex">
      {{ range .Site.Menus.footer }}
      <div class="col-sm-6 col-md-3">
        <h5>{{ .Name }}</h5>
        <ul>
          {{ range .Children }}
          <li>
            <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      <div class="col-sm-6 col-md-3">
        <h5>欢迎关注</h5>
        <!-- <div class="qr-code">
          <div class="code-div">
            <img class="qrcode-img" src="/images/qrcode_vistring_new.jpg">
            <p><img src="/images/wechat_icon.png"> <small>视见睿来（直播业务）</small></p>
          </div>
          <div class="code-div">
            <img class="qrcode-img" src="/images/qrcode_visbit.jpg">
            <p><img src="/images/wechat_icon.png"> <small>Visbit（VR业务）</small></p>
          </div>
        </div> -->
        <p>Email: bd@vistring.com</p>
        <p>Tel: +(86)0571-28120558</p>
      </div>
    </div>
    <div class="d-md-none text-left">
      <ul class="navbar-nav">
        {{ range .Site.Menus.footer }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" role="button" data-toggle="collapse"
            data-target="#{{.Identifier}}" aria-haspopup="true" aria-expanded="false">
            {{ .Name }}
          </a>
          <div class="collapse bg-dark" id="{{.Identifier}}">
            {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </li>
        {{ else }}
        <li class="nav-item">
          <a class="nav-link text-light" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
    <div class="mobile-contact-block d-md-none">
      <!-- <div class="qr-code mobile-qr-code">
        <div class="code-div">
          <img class="qrcode-img" src="/images/qrcode_vistring_new.jpg">
          <p><img src="/images/wechat_icon.png"> <small>视见睿来（直播业务）</small></p>
        </div>
        <div class="code-div">
          <img class="qrcode-img" src="/images/qrcode_visbit.jpg">
          <p><img src="/images/wechat_icon.png"> <small>Visbit（VR业务）</small></p>
        </div>
      </div> -->
      <p>Email: bd@vistring.com</p>
      <p>Tel: +(86)0571-28120558</p>
    </div>
    <p class="copyright-text">2020 © 视见睿来 | <a href="https://beian.miit.gov.cn" target="_blank">浙ICP备17053132号-3</a> |
      杭州盖视科技有限公司</p>
  </div>
</footer>


<!-- Snipcart public key -->
<div hidden id="snipcart" data-api-key="{{ site.Params.snipcart_api }}"></div>

<!-- JS Plugins -->
{{ range site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "script.js" }}
<script src="{{ $script.Permalink }}"></script>

<!-- google analitycs -->
{{ with site.Params.google_analitycs_id }}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}
