<header class="bg-dark text-white">
  <div class="vistring-nav">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
        {{ $logo := .Site.Params.logo }}
        <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
          <img src="{{ $logo | absURL }}" alt="{{ .Site.Title }}" width="114">
        </a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-left" id="navigation">
          <ul class="navbar-nav">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li class="nav-item dropdown {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
              <a class="nav-link dropdown-toggle text-light" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{ .Name }}
              </a>
              <div class="dropdown-menu">
                {{ range .Children }}
                <a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                {{ end }}
              </div>
            </li>
            {{ else }}
            <li class="nav-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
              <a class="nav-link text-light" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>
        </div>
        <div class="dropdown mobile-hidden">
          <a class="btn btn-transparent dropdown-toggle" data-toggle="dropdown" type="button">登陆</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" target="_blank" href="https://www.visbit.cn/login">Visbit展播系统管理平台</a>
            <div class="disabled-dropdown-item">VR直播云控制台</div>
          </div>
        </div>
        <button class="btn btn-success vs-btn-primary mobile-hidden" type="button" data-toggle="modal"
          data-target="#contact-modal">联系商务</button>
    </nav>
  </div>
</header>

<!-- Modal -->
<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <span id="modal-close-btn" data-dismiss="modal">&#x2715</span>
      <h2 class="text-center"> {{ site.Params.contactForm.title }} </h2>
      {{ partial "contactForm.html" . }}
    </div>
  </div>
</div>
