{{ define "main" }}
{{ with site.Params.product.pro }}
<div id="product-platform" class="vs-product">
  {{ with .header }}
  <section class="product-header bg-dark-center-radient">
    <div class="header-with-background">
      <img class="img-background" src="/images/product_bg_pro.jpg">
      <div class="inner-content">
        <h1>{{ .title }}</h1>
        {{ range .tags }}
        <span class="radius-tag">{{ . }}</span>
        {{ end }}
      </div>
    </div>
    <div class="container">
      <div class="header-subtitle">
        {{ range $index, $item := .subtitle}}
        <p>{{ $item }}</p>
        {{ end }}
      </div>
      <img src="/images/product_flow_pro.png">
      <h2>{{ .functions.title }}</h2>
      <ul class="nav nav-pills row" id="pills-tab" role="tablist">
        {{ range $index, $item := .functions.items}}
        <!-- Hack the col-sm-2 style here to be width 20% -->
        <li class="col-sm-3 col-6 nav-item" role="presentation">
          <a class="nav-link {{ if eq $index 0 }} active {{ end }}" id="pills-home-tab" data-toggle="pill"
            href="#{{ $item.href }}" role="tab" aria-controls="pills-home" aria-selected="true">{{ $item.name }}</a>
        </li>
        {{ end }}
      </ul>
      <div class="tab-content container" id="pills-tabContent">
        {{ range $index, $item := .functions.detailItems}}
        <div class="tab-pane fade {{ if eq $index 0 }} show active {{ end }}" id="{{ $item.id }}" role="tabpanel"
          aria-labelledby="pills-{{ $item.id }}-tab">
          <div class="row">
            {{ if eq (len .details) 2 }}
            <div class="col-sm-3"></div>
            {{ end }}
            {{ $details := .details }}
            {{ range .details }}
            <div class="col-6
            {{ if or (eq (len $details) 2) (eq (len $details) 4) }}
            col-sm-3
            {{ end }}
            {{ if eq (len $details) 3 }}
            col-sm-4
            {{ end }}
            ">
              <img src="/images/product_func_{{ .img }}.png">
              <h5>{{ .name }}</h5>
              <p>{{ .content }}</p>
            </div>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}

  {{ with .cases }}
  <section>
    <div class="container">
      <h2 class="text-center text-color-heading">{{ .title }}</h2>
      <div class="row">
        {{ with site.GetPage "/cases" }}
        {{ range .Pages }}
        {{ if eq .Params.productKey "pro" }}
        <div class="col-lg-6 col-md-12">
          {{ partial "caseBox.html" . }}
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}

  {{ with .features }}
  <section class="bg-dark-center-radient text-color-white product-feature">
    <div class="container">
      <h2 class="text-center"> {{ .title }} </h2>
      <div class="row">
        {{ range $index, $item := .items }}
        {{ if eq (mod $index 2) 1}}
        <div class="col-md-6 col-12 d-md-block d-sm-none d-none">
          <img src="/images/product_feature_{{ .img }}.png">
        </div>
        {{ end }}
        <div class="col-md-6 col-12 text-block">
          <h2>{{ .title | safeHTML }}</h2>
          <p>{{ .content }}</p>
        </div>
        {{ if eq (mod $index 2) 0}}
        <div class="col-md-6 col-12 d-md-block d-sm-none d-none">
          <img src="/images/product_feature_{{ .img }}.png">
        </div>
        {{ end }}
        <div class="col-md-6 col-12 d-md-none d-sm-block d-block">
          <img src="/images/product_feature_{{ .img }}.png">
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}

  {{ partial "deviceSupport.html" . }}
  {{ partial "contactSalesSection.html" . }}
</div>
{{ end }}
{{ end }}
