{{ define "main" }}
{{ with site.Params.home }}
<div id="vs-home">
  <section id="home_banner_section">
    <div id="particles">
      <div class="inner-content">
        <h1>创新视觉体验</h1>
        <h3>Revolutionizing Visual Experience</h3>
      </div>
    </div>
  </section>

  {{ with .application }}
  <section class="bg-white" id="home-application">
    <div class="container">
      <h2 class="application-title">{{ .title }}</h2>
      {{ range $index, $item := .items }}
      <div class="auto-expend-block application-box {{ if eq $index 0 }} active-block {{ end }}
        d-md-inline-block d-sm-none d-none" id="item-{{ $index }}">
        <img class="img-background" src="{{ .background }}">
        <div class="img-background background-mask"></div>
        <a href="{{ .url }}" class="inner-content">
          <h2>{{ .title }} </h2>
          <p>{{ .content }}</p>
          <button class="btn btn-success vs-btn-primary">{{ site.Params.home.application.btn }}</button>
        </a>
        <h4>{{ .title }}</h4>
      </div>
      {{ end }}

      <div class="wide-block d-md-none d-sm-block d-block">
        {{ range $index, $item := .items }}
        <div class="application-box">
          <img class="img-background" src="{{ .background }}">
          <a href="{{ $item.url }}" class="inner-content">
            <h2>{{ .title }} </h2>
            <p>{{ .content }}</p>
            <button class="btn btn-success vs-btn-primary">{{ site.Params.home.application.btn }}</button>
          </a>
        </div>
        {{ end }}
      </div>

    </div>
  </section>
  {{ end }}

  {{ with .tech }}
  <section id="home-tech-section" class="bg-dark-center-radient text-color-white">
    <div class="container">
      <h2 class="text-center">{{ .title }}</h2>
      <div class="row">
        {{ range .items }}
        <div class="col-md-2 col-sm-6 col-6">
          <h4>{{ .title }}</h4>
          <p>{{ .content }}</p>
          <img src="/images/home_tech_{{ .img }}.png">
        </div>
        {{ end }}
      </div>
      <a href="/tech" class="btn btn-success vs-btn-primary">{{ site.Params.general.checkBtn.name }}</a>
    </div>
  </section>
  {{ end }}

  {{ with .customer }}
  <section class="bg-gray">
    <div class="container">
      <h2 class="text-center text-color-heading">{{ .title }}</h2>
      <div class="row">
        {{ range .items }}
        <div class="col-lg-3 col-md-4 col-6" style="margin-top: 32px">
          <a href="{{ .url }}" target="_blank"><img src="/images/customer_{{ .key }}.jpg"></a>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end}}
</div>
{{ end }}
{{ end }}
