{{ define "main" }}
{{ with site.Params.tech }}
<div id="vs-tech">
  <section id="tech-header-section">
    <img class="img-background d-md-block d-sm-none" src="/images/tech_header_bg.jpg">
    <img class="img-background d-md-none d-sm-block" src="/images/tech_header_bg_sm.jpg">
    <h1 class="absolute-center">{{ .title }}</h1>
  </section>
  <section id="tech-body-section" class="bg-dark-center-radient">
    <div class="container">
      <p class="desc-content">{{ .desc }}</p>
      <ul class="nav nav-pills row" id="pills-tab" role="tablist">
        {{ range $index, $item := .items}}
        <!-- Hack the col-sm-2 style here to be width 20% -->
        <li class="col-sm-2 col-6 nav-item" role="presentation">
          <a class="nav-link {{ if eq $index 0 }} active {{ end }}" id="pills-home-tab" data-toggle="pill"
            href="#{{ $item.href }}" role="tab" aria-controls="pills-home" aria-selected="true">{{ $item.name }}</a>
        </li>
        {{ end }}
      </ul>
      <div class="tab-content container" id="pills-tabContent">
        {{ range $index, $item := .detailItems }}
        <div class="tab-pane fade {{ if eq $index 0 }} show active {{ end }}" id="{{ $item.id }}" role="tabpanel"
          aria-labelledby="pills-{{ $item.id }}-tab">
          <h2>{{ $item.title }}</h2>
          <h4>{{ $item.subtitle }}</h4>
          <p>{{ $item.content }}</p>

          {{ if isset $item "listItems" }}
          <ul>
            {{ range $item.listItems }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>
          {{ end }}

          {{ if isset $item "rowItems" }}
          <div class="row">
            {{ range $item.rowItems }}
            <div class="col-md-4 col-sm-6">
              <div class="tech-feature-box">
                <h3>{{ .title }}</h3>
                <p>{{ .content }}</p>
              </div>
            </div>
            {{ end }}
          </div>
          {{ end }}

          {{ if isset . "img" }}
          <img src="{{ $item.img }}" style="max-width: {{ .imgWidth }}px;">
          <p class="text-center img-desc">{{ .imgDesc }}</p>
          {{ end }}

          {{ if isset . "video" }}
          <video controls title="A video comparing traditional streaming solution with VVOS streaming solution"
            src="https://vp0.visbit.cn/downloads/ABR_1920_v2.mp4"></video>
          <p class="text-center img-desc">{{ .imgDesc }}</p>
          {{ end }}
        </div>
        {{ end }}
      </div>
      <img class="tech-line" src="/images/tech_line.png">
    </div>
  </section>
</div>
{{ end }}
{{ end }}
